<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Management_Information_System.Properties.Settings.scoreConnectionString"
            connectionString="Data Source=LAPTOP-6LA233M1;Initial Catalog=score;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Management_Information_System.Properties.Settings.user_informationConnectionString"
            connectionString="Data Source=LAPTOP-6LA233M1;Initial Catalog=user_information;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>